{{ define "header-content" }}
<link rel="stylesheet" href="/css/writing.css">

<canvas class="pixel-canvas" id="pixelCanvas"></canvas>
<div class="heading-content">
        <span class="heading-quote">Design,tech and ideas</span>
        <p>If you’re thinking without writing, you only think you’re thinking.</p>
</div>
{{ end }}

{{ define "main" }}
<div class="narrow-container">
<h1>writing</h1>
<p>I write about design, tech and anything I'm thinking about. This is an exercise in me understanding how things work.</p>

<div class="narrow-container">
{{ range .Pages.ByDate.Reverse }}
    <div class="essay-list-item">
        <div class="title-container">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>

        </div>
    <small class="light-text"> {{ .Date.Format "Jan 2, 2006" }}</small>
    </div>
{{ end }}
</div>
</div>

<script>
        (function () {
            const colorSets = [
                ['#FF6542', '#393939'],
                ['#E80051', '#FFFFFF'],
                ['#F6AD00', '#FFF1D0'],
                ['#009B72', '#393939'],
                ['#393939', '#FFFFED'],
                ['#9747FF', '#FFFFED'],
                ['#0017E8', '#FFFFED'],
                ['#FF12AF', '#FFFFED'],
            ];

            const randomSet = colorSets[Math.floor(Math.random() * colorSets.length)];

            document.documentElement.style.setProperty('--themed-primary', randomSet[0]);
            document.documentElement.style.setProperty('--themed-secondary', randomSet[1]);
        })();
</script>
{{ end }}
