<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ .Title }} </title>
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    

    {{ $favicon := "assets/default.png" }}

    {{ if or (in .Permalink "/writing/") (eq .Section "writing") }}
    {{ $favicon = "assets/text.png" }}
    {{ else if or (in .Permalink "/painting/") (eq .Section "painting") }}
    {{ $favicon = "assets/click.png" }}
    {{ end }}

    <link rel="icon" href="{{ $favicon | relURL }}" type="image/png">

    <link rel="stylesheet" href="/css/global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap" rel="stylesheet">
     {{ block "page-head" . }}{{ end }}
</head>
<body>
    <header class="header-content">
        {{ block "header-content" . }}{{ end }}
    </header>

    <main class="main-content">
        <div class="navigation">
            <div class="navigation-center">
                <a href="{{ "/" | relURL }}" class="{{ if eq .RelPermalink "/" }}active{{ end }}">working</a>
                <a href="{{ "/writing/" | relURL }}" class="{{ if eq .RelPermalink "/writing/" }}active{{ end }}">writing</a>
                <a href="{{ "/painting/" | relURL }}" class="{{ if eq .RelPermalink "/painting/" }}active{{ end }}">painting</a>
            </div>
            
            <div class="navigation-right" style="position: absolute; right: 10px;">
                <a href="{{ "/about/" | relURL }}" class="{{ if eq .RelPermalink "/about/" }}active{{ end }}" data-expand="true">[ about me ]</a>
                <a href="{{ "/resume/" | relURL }}" class="{{ if eq .RelPermalink "/resume/" }}active{{ end }}" data-expand="true">[ resume ]</a>
            </div>
        </div>


        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    
    <script src="/scripts/scroller.js?v={{ (os.Stat "static/scripts/scroller.js").ModTime.Unix }}"></script>
    <script src="/scripts/expander.js?v={{ (os.Stat "static/scripts/expander.js").ModTime.Unix }}"></script>
</body>
</html>