<footer>
    <div class="footer-head"{{ with .Params.bgColor }} style="color: {{ . }};"{{ end }}>creative techologist</div>
    
    <div class="footer-content">
        <div class="footer-column">
            <h2>Site</h2>
            <ul>
                <li><a href="/working">Working</a></li>
                <li><a href="/experimenting">Experimenting</a></li>
                <li><a href="/painting">Painting</a></li>
                <li><a href="/writing">Writing</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h2>Connect</h2>
            <ul>
                <li><a href="/contact">Reach Out</a></li>
                <li><a href="https://x.com/shauryasdk">Twitter</a></li>
                <li><a href="https://github.com/m3lnn">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/probablyshaurya/">LinkedIn</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h2>Tools</h2>
            <ul>
                <li><a href="/tech">Tech Stack</a></li>
                <li><a href="/design">Design Stack</a></li>
                <li><a href="/style">Style Stack</a></li>
                <li><a href="/workshop">My Workshop</a></li>
                <li><a href="/workstation">My Workstation</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h2>Fun</h2>
            <ul>
                <li><a href="/now">What I'm Doing Now</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <span>&copy; {{ now.Year }} Shaurya</span>
        <a href="/site">About this site</a>
    </div>
    <p class="light-text">
        Last updated on {{ now.Format "January 02, 2006" }}
    </p>
</footer>