{{ define "header-content" }}
<div id="mainHeader">
        <img id="headerImage" alt="Header">
        <canvas id="pixelCanvas"></canvas>
        <div id="paintingInfo" class="painting-info">
            <!--
            <h1 id="paintingTitle"></h1>
            <p id="paintingYear"></p>
            <p id="paintingMedium"></p>
            -->
        </div>
    <script src="/scripts/scroll-switcher.js?v={{ (os.Stat "static/scripts/scroll-switcher.js").ModTime.Unix }}"></script>
    <link rel="stylesheet" href="/css/painting.css">

{{ end }}

{{ define "main" }}
<div class="painting-list">
    <p class="blinking-text" style="text-align: center;">Scroll up to switch paintings</p>
    <!---
    {{- range where .Site.RegularPages "Section" "painting" -}}
    <article class="painting-item">
        <span href="{{ .RelPermalink }}">
            <p>{{ .Title }}</p>
            {{ with .Params.artist }}<p>by {{ . }}</p>{{ end }}
        </span>
    </article>
    {{- end -}}
    -->
</div>
{{ end}}